body{
    background: rgb(209, 209, 209);
    padding: 35px;
}
.cursor{
    cursor:pointer;
}

.activo{
    background: rgb(2, 173, 45);
}
.inactivo{
    background: hsl(199, 18%, 40%);
}

/*#main{
    margin: 40px;
}*/

/*#comodines{
    margin: 20px;*/
    /*border: 10px solid;
    border-color: red;
}*/