body{
    background: rgb(209, 209, 209);
    padding: 35px;
}
.cursor{
    cursor:pointer;
}

.activo{
    background: rgb(2, 173, 45);
}

.imgModalRepuesta{
    /* width: 100px; height: 100px; */
    margin-left: 300px;
    margin-right: 300px;
    
}



/*#main{
    margin: 40px;
}*/

/*#comodines{
    margin: 20px;*/
    /*border: 10px solid;
    border-color: red;
}*/

/*
reloj counterdown vuejs
https://codepen.io/Sergiop79/pen/QvzLEO

Mejor web para modulos javascript
https://www.cssscript.com/


*/